<div class="col-md-8" id="councilPanel">
    <p>Ska {{council.name}} inaktiveras permanent?</p>
    <form action="/admin/councils/delete/{{council.id}}"  method="post" id="councildelete">
        <!--<input type="hidden" name="_csrf" value="{{csrfToken}}">-->
        <button type="submit" class="btn btn-warning btn-lg">Inaktivera rådet</button>
    </form>
    <p>Ska {{council.name}} inaktiveras för aktuell period?</p>
    <form action="/admin/councils/councilinst/delete/{{council.id}}"  method="post" id="councildelete">
        <!--<input type="hidden" name="_csrf" value="{{csrfToken}}">-->
        <button type="submit" class="btn btn-warning btn-lg">Inaktivera aktuellt råd</button>
    </form>
</div>
