<div id="admin">

    <div class="row">
        <div class="col-lg-6">
            <div class="col-sm-9 input-group-lg">
                <select id="inputFaculty" class="form-control ">
                <option value="null">Välj fakultet</option>
                {{#if faculties}}
                {{#each faculties}}
                <option value="{{{this.id}}}">{{{this.name}}}</option>
                {{/each}}
                {{/if}}
                </select>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="col-sm-9 input-group-lg">
                <select id="inputCouncil" class="form-control">
                <option value="null">Visa alla</option>

                </select>
            </div>
        </div>
    </div>

  <!--<h3>{{council.name}}</h3>-->
    <!--<p>{{council.description}}</p>-->

    <!--{{#if council.Employees}}-->
    <!--<p><strong>Personal:</strong></p>-->
    <!--{{#each council.Employees}}-->
        <!--<p><a href="/employees/{{this.id}}">{{this.firstName}} {{this.lastName}}</a></p>-->
    <!--{{/each}}-->
    <!--{{/if}}-->
    <!--<p><strong>Represtanter:</strong></p>-->
    <!--{{#each council.CouncilInstances}}-->
        <!--{{#each this.Users}}-->
            <!--<p><a href="/blabla/{{this.id}}">{{this.firstName}} {{this.lastName}}</a></p>-->
        <!--{{/each}}-->
    <!--{{/each}}-->
    <!--<p><strong>Lediga positioner:</strong></p>-->
    {{!--{{#each faculties}}
        <p><a href="/admin/faculties/{{this.id}}">{{this.name}}</a></p>
        <ul>
            {{#each this.councils}}
                <li><a href="/admin/councils/{{this.id}}">{{this.name}}</a></li>
            {{/each}}
        </ul>
    {{/each}}--}}

    <table class="table table-hover">
        <thead>
            <tr>
                <th>Råd</th>
                <th>Från</th>
                <th>Till</th>
                <th>Studenter</th>
                <th>Doktorander</th>
            </tr>
        </thead>
        <tbody>
            {{!--{{#each faculties}}
            {{#each this.councils}}
            <tr>
                <td><a href="/admin/councils/{{this.id}}">{{this.name}}</a></td>
                <td>
                    <a href="/admin/councils/edit/{{this.id}}" class="btn btn-default">Ändra</a>
                    <a href="/admin/councils/delete/{{this.id}}" class="btn btn-default">Ta bort</a>
                </td>
            </tr>
            {{/each}}
            {{/each}}--}}
        </tbody>
    </table>
</div>
