<div class="col-md-8" id="councilPanel">
  <h3>{{council.name}}</h3>
    <p>{{council.description}}</p>

    {{#if council.Employees}}
    <p><strong>Personal:</strong></p>
    {{#each council.Employees}}
        <p><a href="/employees/{{this.id}}">{{this.firstName}} {{this.lastName}}</a></p>
    {{/each}}
    {{/if}}
    <p><strong>Represtanter:</strong></p>
    {{#each council.Users}}
        {{!--{{#each this.Users}}--}}
            <p><a href="/blabla/{{this.id}}">{{this.firstName}} {{this.lastName}} PHD: {{this.phd}}</a></p>
        {{!--{{/each}}--}}
    {{/each}}
    <p><strong>Lediga positioner:</strong></p>
    <p>Antal lediga doktorand positioner {{free.phd}} / {{council.phdPositions}}</p>
    <p>Antal lediga student positioner {{free.stud}} / {{council.studentPositions}}</p>
    <a href="/admin/councils/edit/{{council.id}}" class="btn btn-primary" id="">Redigera</a>
    <a href="/admin/councils/delete/{{council.id}}" class="btn btn-danger" id="">Ta bort</a>
</div>
