<div class="col-md-8" id="employees">
    {{#if employees}}
    <ul>
    {{#each employees}}
        <li><p><a href="/admin/employees/{{this.id}}">{{this.firstName}} {{this.lastName}}</a></p>
    {{/each}}
    </ul>
    {{/if}}

    {{#if employee}}

    {{employee.firstName}} <br>
    {{employee.lastName}} <br>
    {{employee.email}} <br>

    {{/if}}
</div>
