<div id="studentPanel">
  <div class="col-md-8">
    <h3>Representantsval</h3>

    <div class="list-group">

      {{#each data}}
        <div class="list-group-item">
          <span class="glyphicon glyphicon-triangle-bottom" aria-hidden="true"></span>
          {{this.name}}
        </div>

        {{#each this.councils}}
          <div class="list-group-item thin">
            <span class="glyphicon glyphicon-triangle-bottom" aria-hidden="true"></span>
            {{this.name}}
            <span class="badge">Sökande: {{this.Users.length}}</span>
            <span class="badge">
              Doktorander: <span class="numPhd">0</span>/{{this.phdPositions}}
            </span>
            <span class="badge">
              Studenter: <span class="numStud">0</span>/{{this.studentPositions}}
            </span>
          </div>

          {{#each this.Users}}
            <div class="list-group-item thinner">
              <a href="/admin/students/{{this.id}}">{{this.firstName}} {{this.lastName}}</a>
              {{#if this.phd}}
                <span class="label label-default">Phd</span>
              {{/if}}
              {{!--<span class="label label-default icon-red">Aktiv i: 4</span>--}}
              {{#if this.UserPosition.elected}}
                <button class="glyphicon glyphicon-remove-sign pull-right" aria-hidden="true"></button>
                <button class="glyphicon glyphicon-ok-sign pull-right icon-green" aria-hidden="true"></button>
              {{else}}
                <button class="glyphicon glyphicon-remove-sign pull-right icon-red" aria-hidden="true"></button>
                <button class="glyphicon glyphicon-ok-sign pull-right" aria-hidden="true"></button>
              {{/if}}
              <span class="pull-right">Lägg till/ta bort: &nbsp;</span>
            </div>
          {{/each}}

        {{/each}}

      {{/each}}
      <p>&nbsp;</p>
      <button type="button" class="btn btn-primary">Slutför valen</button>

    </div>

</div>
