<div class="col-md-8" id="council">
  <h3>{{council.name}}</h3>
    <p class="description">{{council.description}}</p>



    {{#each council.Employees}}
        <h4>{{this.firstName}} {{this.lastName}}</h4>
        <h5>
            {{#if this.EmployeePosition.chairman}}
                ORDFÖRANDE
            {{/if}}
            {{#if this.EmployeePosition.convener}}
                SAMMANKALLANDE
            {{/if}}
            {{#if this.EmployeePosition.secretary}}
                SEKRETERARE
            {{/if}}
        </h5>

        <p class="about"><strong>Telefon: </strong>{{this.phone}}</p>
        <p class="about"><strong>Epost: </strong><a href="mailto:{{this.email}}">{{this.email}}</a></p>
        <p class="about"><strong>Om mig: </strong><a href="http://{{this.profileUrl}}" target="_blank">läs här</a></p>

        <hr>
    {{/each}}


    <h4>Representanter:</h4>
    {{#each council.Users}}
        {{!--{{#each this.Users}}--}}
            <h5>

                {{this.firstName}} {{this.lastName}}
            </h5>
        <p class="about"><strong>Position: </strong>
            {{#if this.phd}}PhD
            {{else}}Student
            {{/if}}
        </p>
            <p class="about"><strong>Om mig: </strong>{{this.comments}}</p>
            <p class="about"><strong>Epost: </strong><a href="mailto:{{this.email}}">{{this.email}}</a></p>
            <hr>
        {{!--{{/each}}--}}
    {{/each}}

    <h4>Lediga positioner:</h4>
    <p><strong>Students: </strong> {{free.stud}}</p>
    <p><strong>PhD: </strong> {{free.phd}} </p>

    {{#if free.open}}
        <p><a href="/apply?faculty=id&council={{council.id}} " class="btn">anmäl intresse</a></p>
    {{/if}}

</div>
