<div class="col-md-8" id="council">
  <h3>{{council.name}}</h3>
    <p>{{council.description}}</p>

    {{#if council.Employees}}
    <p><strong>Personal:</strong></p>
    {{#each council.Employees}}
        <p><a href="/employees/{{this.id}}">{{this.firstName}} {{this.lastName}}</a></p>
    {{/each}}
    {{/if}}
    <p><strong>Represtanter:</strong></p>
    {{#each council.CouncilInstances}}
        {{#each this.Users}}
            <p><a href="/blabla/{{this.id}}">{{this.firstName}} {{this.lastName}}</a></p>
        {{/each}}
    {{/each}}
    <p><strong>Lediga positioner:</strong></p>
</div>
